<script type='text/x-handlebars-template' id='structure'>
    <div class='container bg-muted'>
        <section id='header'>
            <div class='hidden-xs hidden-sm hidden-md hidden-print'>
                <br>
                <div data-role='header'>
                    <div class='row'>
                        <div class='col-lg-12 pull-right'>
                            <span class='pull-right text-right menu-item'>
                                <a href='#home'>
                                    <i class='fa fa-home'></i> Home
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <div data-role='content'>
            <section id='projects_home'>
                <div class='row'>
                    <div class='col-lg-4 hidden-xs hidden-sm hidden-md hidden-print'>
                        <center>
                            <img src='images/guido.jpg' class='img-responsive img-circle' style='width: 200px; heigth: 200px; margin-top: 45px;'>
                        </center>
                    </div>
                    <div class='col-lg-8'>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <h1>
                                    Guido Barbaglia
                                </h1>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <p style='font-size: 22px; font-weight: 100;'>
                                    Senior software engineer, expert in the analysis, design and development of open
                                    source web-based information systems. Strong experience in Web 2.0 technologies
                                    for the management, manipulation and dissemination of statistical data and
                                    micro-data. Excellent problem solving skills, enjoy working as a team member
                                    as well as independently.
                                </p>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <h3>Guido's Social Networks</h3>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <a target='_blank' href='https://github.com/Kalimaha'>
                                    <i class='fa fa-github fa-2x'></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target='_blank' href='https://plus.google.com/+GuidoBarbaglia/posts'>
                                    <i class='fa fa-google-plus fa-2x'></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target='_blank' href='https://instagram.com/guidobarbaglia/'>
                                    <i class='fa fa-instagram fa-2x'></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target='_blank' href='https://it.linkedin.com/in/guidobarbaglia'>
                                    <i class='fa fa-linkedin fa-2x'></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target='_blank' href='https://twitter.com/Kalimaha'>
                                    <i class='fa fa-twitter fa-2x'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section id='projects'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Work Experience
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.fao.org/'>
                            Food and Agriculture Organization of the United Nations
                        ​</a>
                        <br>
                        <i>(2007 - 2015)</i>
                    </div>
                    <div class='col-lg-7'>
                        Senior software engineer responsible for the design and development of web tools capable of
                        managing, manipulating and disseminating big data in the field of agriculture and food security.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.accenture.com/'>
                            Accenture Technology Solutions
                        ​</a>
                        <br>
                        <i>(2006)</i>
                    </div>
                    <div class='col-lg-7'>
                        Part of the team responsible for the analysis of the users' requirements and the production
                        of the technical specifications of the web service for the development team.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='https://www.thalesgroup.com/en/worldwide/space'>
                            Alenia Spazio
                        ​</a>
                        <br>
                        <i>(2005)</i>
                    </div>
                    <div class='col-lg-7'>
                        Developer of a MATLAB software for the computation of the parameters for the SAR image
                        acquisition of the COSMO-SkyMed satellites.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Relevant Projects
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://faostat3.fao.org/'>
                            FAOSTAT 3
                        </a>
                        <br>
                        <i>(FAO, Rome, Italy)</i>
                    </div>
                    <div class='col-lg-7'>
                        Responsible for the design and the implementation of a new architecture based on web services
                        for the back-end and JavaScript widgets for the front-end. The resulting version 3 of FAOSTAT
                        is faster and more user friendly compared to the previous versions, and it has been visited
                        by more than 1.4 million users since its launch in May 2012.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://faostat3.fao.org/faostat-gateway/go/to/browse/G1/*/E'>
                            Green House Gases Database
                        </a>
                        <br>
                        <i>(FAO, Rome, Italy)</i>
                    </div>
                    <div class='col-lg-7'>
                        Responsible for the integration of the GHG database with the FAOSTAT dissemination system
                        and for the design and implementation of custom GHG features within FAOSTAT. The implemented
                        FAOSTAT-GHG integration is widely used worldwide as a data source for working papers and
                        articles aimed at the mitigation of climate change in agriculture.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.nfpcsp.org/'>
                            FPMU
                        </a>
                        <br>
                        <i>(FAO, Dhaka, Bangladesh)</i>
                    </div>
                    <div class='col-lg-7'>
                        Responsible for the design and the development of web tools used to collect and disseminate,
                        through the institutional web site, food security related data. The system is still in place
                        and it generates and publishes charts of market price trends for the main commodities every day.
                        As part of my duties, I also recruited and supervised a local software developer.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.fao.org/sudanfoodsecurity/sifsia-home/'>
                            SIFSIA
                        </a>
                        <br>
                        <i>(FAO, Khartoum / Juba, Sudan / South Sudan)</i>
                    </div>
                    <div class='col-lg-7'>
                        Responsible for the development of web based tools designed in collaboration with the local
                        institutions and ministries for the management, visualization and analysis of statistical data.
                        In 2009 and 2010 I have organised and lead two training workshops in Khartoum and Juba
                        assisting local staff in the use of these tools to improve their work. These activities lead
                        to the collection of better quality data, and it provided the tools to effectively share
                        such information.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='https://github.com/FENIX-Platform'>
                            FENIX Platform
                        </a>
                        <br>
                        <i>(FAO, Rome, Italy)</i>
                    </div>
                    <div class='col-lg-7'>
                        As part of the core team of the project I am responsible for the analysis, the design and the
                        development of the main components of the system. Such components need to be engineered to be
                        as generic and performant as possible, in order to be able to serve a diverse audience of users.
                        The FENIX Platform is currently used as the engine for some of the flagship information systems
                        of the organization, such as <a target='_blank' href='http://faostat3.fao.org/'>FAOSTAT</a>,
                        <a target='_blank' href='http://www.countrystat.org/'>CountrySTAT</a>,
                        <a target='_blank' href='http://www.fao.org/tc/adam/data/index.html'>ADAM</a> and
                        <a target='_blank' href='http://www.amis-outlook.org/'>AMIS</a>.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <!--<a target='_blank' href=''>-->
                            Sunrise
                        <!--</a>-->
                        <br>
                        <i>(Accenture, Rome, Italy)</i>
                    </div>
                    <div class='col-lg-7'>
                        During my very first working experience I have been part of the team in charge of the
                        analysis of customer requirements and the consequent production of the technical
                        specifications for the developers team. I have worked on releases two and three of the
                        Sunrise project, which provides the backend for the internet services of the main Italian
                        telephone company, which has also been exported to Germany, France and the Czech Republic.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Education
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.gmuonline.org/'>
                            "Guglielmo Marconi" University
                        </a>
                    </div>
                    <div class='col-lg-7'>
                        M.Sc. Computer Science Engineering
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://en.uniroma1.it/'>
                            "Sapienza" University
                        </a>
                    </div>
                    <div class='col-lg-7'>
                        B.Sc. Telecommunications Engineering
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Certifications
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.britishcouncil.org/'>
                            British Council
                        </a>
                    </div>
                    <div class='col-lg-7'>
                        IELTS
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.ipsar.org/modules.php?name=News'>
                            Portuguese Language and Culture
                        </a>
                    </div>
                    <div class='col-lg-7'>
                        Instituto Português Santo Antonio em Rome
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='https://www.scrumalliance.org/community/profile/gbarbaglia'>
                            Scrum Alliance
                        </a>
                    </div>
                    <div class='col-lg-7'>
                        Certified Scrum Master
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Technical Skills
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Methodologies
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        Agile Scrum, PRINCE2
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Programming Languages
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        ​Java, Groovy, Python, JavaScript, C, R
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Operative Systems
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        Windows, Ubuntu, Xubuntu, Red Hat
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Databases
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        PostgreSQL, SQL Server, MySQL, MongoDB
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Application Servers
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        ​Apache, Tomcat, Nginx
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            GIS
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        ArcGIS, QGIS, OGR/GDAL
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Web
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        HTML, CSS, SASS
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Publications
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <b>
                            Submitted
                        </b>
                    </div>
                    <div class='col-lg-7'>
                        Barbaglia, G., Murzilli, S., Cudini, S. (2015). Definition of REST web-services with JSON Schema.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1>
                            Honours and Awards
                        </h1>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-lg-5'>
                        <a target='_blank' href='http://www.edutw.org/english/scholarships/'>
                            Ministry of Foreign Affairs
                        </a>
                        <br>
                        <i>
                            Republic of China (Taiwan)
                        </i>
                    </div>
                    <div class='col-lg-7'>
                        Taiwan “Huayu Enrichment” Scholarship Winner
                    </div>
                </div>
                <hr>
                <div class='row'>
                    {{#each projects}}
                        <div class='col-lg-4'>
                            <div class='panel panel-primary'>
                                <div class='panel-heading'>
                                    <i class='fa fa-external-link'></i>
                                    <b>
                                        <a target='_blank' href='{{this.html_url}}'>
                                            {{this.name}}
                                        </a>

                                    </b>
                                    <span class='pull-right'>
                                        <var>
                                            {{this.language}}
                                        </var>
                                    </span>
                                </div>
                                <div class='panel-body'>
                                    {{{this.description}}}
                                </div>
                                <div class='panel-footer'>
                                    <div class='row' style='padding-right: 0px;'>
                                        <div class='col-lg-12 pull-right' style='padding-right: 0px;'>
                                            <span class='pull-right text-right'>
                                                <iframe src="https://ghbtns.com/github-btn.html?user=geobricks&repo={{this.name}}&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
                                            </span>
                                            <span class='pull-right text-right'>
                                                <iframe src="https://ghbtns.com/github-btn.html?user=geobricks&repo={{this.name}}&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
            <section id='footer'>
                <div data-role='footer' class='footer'>
                    <div class='row'>
                        <div class='col-lg-12 text-center'>
                            © Geobricks 2015. All rights reserved.
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </div>
    </div>
</script>